* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg {
  background-color: #f1f3ff;
}
.navbar-brand {
  background-color: #0d6efd;
  border-radius: 5px;
}
/* Hero Section Styling */
.hero-section {
  padding: 150px 0px;
  position: relative;
  overflow: hidden;
  background-color: #f1f3ff;
}
.tagline-heading {
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.5;
}
.tagline-desc {
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  margin-top: 20px;
}

.btn {
  margin-top: 5px;
}
.checks {
  width: 24px;
  height: 24px;
}

/* Responsive Setting */
@media only screen and (min-width: 1200px) {
  /* Hero Section Styling Responsive */
  .car-img {
    max-width: 900px;
    width: 50%;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
  /* Hero Section Styling Responsive */
  .car-img {
    max-width: 700px;
    width: 50%;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  /* Hero Section Styling Responsive */
  .hero-section {
    padding: 50px 0 50px 0px;
  }
  .tagline-heading {
    font-size: 22px;
  }
  .tagline-desc {
    font-size: 12px;
  }
  .car-img {
    max-width: 700px;
    width: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

@media only screen and (max-width: 576px) {
  /* Hero Section Styling Responsive */
  .hero-section {
    padding: 75px 0px 280px 0px;
  }
  .car-img {
    max-width: 1200px;
    width: 100%;
    position: absolute;
  }
  .tagline-heading {
    font-size: 47px;
  }
}
